<footer class="bg-blue-600 text-white py-4 mt-10">
  <div class="container mx-auto text-center text-sm">
    <p class="font-semibold">Bulid with 💙 by Ainun Nafiah</p>
    <div class="flex justify-center space-x-6 mt-2">
      <a
        href="https://www.instagram.com/ainunnfh"
        target="_blank"
        class="hover:underline hover:text-blue-200 transition"
      >
        Instagram
      </a>
      <a
        href="https://www.linkedin.com/in/ainun-nafiah"
        target="_blank"
        class="hover:underline hover:text-blue-200 transition"
      >
        LinkedIn
      </a>
    </div>
  </div>
</footer>
